body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    background: rgba(239, 170, 36, 0.3);
    font-weight: 400;
    font-size: 24px;
}

nav a {
    color: #161D33;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23161D33' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  footer{
    background: #D9D9D9;
  }


  .home {
    position: absoute;
    width: 100%;
    background: url(./assets/hermes-rivera-Ww8eQWjMJWk-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    z-index: -1;
  }

.home-text {
    position: absolute;
    left: 15px;
    top: 266px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 75px;
    text-transform: uppercase;
    color: #161D33; 
}

.About-us {
    width: 100%;
    text-align: center;
}

.About-us h1 {
    padding-bottom: 50px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #161D33;
}

.About-us p {
    left: 80px;
    width: 493px;
    height: 208px;
    padding-top: 150px;    
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    text-align: left;
    letter-spacing: 0.14em;
    color: #161D33;
}

.About-us img { 
    position: relative;
    width: 700px;
    height: 466.72px;
    left: 50px;
    background: url(dan-rooney-qm6yxe7SjWg-unsplash.jpg);
    border-radius: 16px 16px 80px 16px;
}

.Menu h1 {
    padding-bottom: 50px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 75px;
    letter-spacing: 0.1em;
    color: #161D33;
}

.Menu img {
    padding-left: 10px;
    width: 200px;
    height: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px 16px;
}

.Menu-name {
    width: 93px;
    height: 26px;
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: 0.14em;
    text-align: center;
    color: #161D33;
}

.Menu-name .p {

    word-wrap: break-word;
    max-width: 116px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;

    color: #161D33;
}

.services h1 {
        padding-bottom: 50px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 75px;
        letter-spacing: 0.1em;
        color: #161D33;
}

.services img {
    width: 500px;
    height: 340px;
    left: 131px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 24px 24px 56px 24px;
    }

    .services p {

        width: 493px;
        height: 255px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #161D33;
    }

    .footer{
        background: #D9D9D9;
        padding: 10px;
    }

    .footer-content {
        padding-left: 80px;
        text-decoration: none;
        list-style: none;
        color: #161D33;
    }

    .footer-content a {
        text-decoration: none;
        list-style: none;
        color: #161D33;
    }

    .footer-content .fa {
        font-size: 35px;
        padding-left: 10px;
    }





    /*media queries*/

    @media (max-width: 600px) {

        .home {
            width: 100%;
            background: url(./assets/a4b2c1_14456dbc4592446b94d523fcb9f9f787~mv2.jpg.webp);
            background-size: 100% auto;
            background-repeat: no-repeat;
            height: 100vh;
            z-index: -1;
        }

        .home-text {
            left: 15px;
            top: 0;
            padding-top: 150px;
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 75px;
            text-transform: uppercase;
            color: #161D33; 
        }

        .About-us p {
            width: 90%;
            height: auto;
            padding-top: 50px;    
            text-align: center;
        }

        .About-us img { 
            width: 80%;
            height: 300px;
            left: 0;
            border-radius: 16px 16px 80px 16px;
        }



      }


    